.main-nav {
  background-color: rgb(253, 251, 251);
  display: flex;
  position: fixed;
  width: 100%;
}

.div-container {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.userPic {
  width: 50vh;
  height: 50vh;
  border-radius: 10%;
  margin: auto;
}

.text-title,
.text-first,
.text-last {
  font-size: 50px;
  text-align: center;
}
